.containerLogin{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerLogin svg{
    width: 180px;
}
.containerLogin button{
  background: #04C45C;
  color: #fff;
  border-radius: 50px;
  margin-top: 20px;
  padding: 12px 32px;
  border: 0;
  transition: all ease .3s;
  cursor: pointer;
  width: 100%;
}
.containerLogin button:hover{
  background: #001b38;
}
.containerLogin .containerForm{
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  box-sizing: border-box;
}
.containerLogin .containerForm input{
  width: 100%;
  border: 1px solid #c4c4c4;
  height: 1.1876em;
  margin: 10px 0;
  display: block;
  padding: 22px 20px;
  min-width: 0;
  background: none;
  color: rgba(0,0,0,.7);
  border-radius: 10px;
}
.containerLogin .containerSocials {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}
.containerLogin .containerSocials svg{
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.containerLogin a{
  margin-top: 30px;
  text-decoration: none;
  color: #546774;
}
