.containerDevit{
  border-bottom: 1px solid #eee;
  display: flex;
  padding: 10px 15px;
}
.containerDevit div {
  padding-right: 10px;
}
.containerDevit section{
  width: 100%;
}
.containerDevit p{
  line-height: 1.3125;
  margin: 0;
}
.containerDevit .nameDate{
  display: flex;
  justify-content: space-between;
}
.containerDevit .nameDate p{
  font-size: 14px;
  color: #555;
}
.imgTweet{
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}