.containerProcesando{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerHome header {
  align-items: center;
  border-bottom: 1px solid #eee;
  height: 49px;
  display: flex;
  position: sticky;
  align-items: center;
  top: 0;
  width: 100%;
  background: #ffffffe6;
  backdrop-filter: blur(5px);
  padding: 0 20px;
}
.containerHome header svg{
  width: 130px;
  height: 40px;
}

.containerHome .containerTweets{
  flex: 1;
  padding-bottom: 40px;
}

.containerHome h2 {
  font-size: 21px;
  font-weight: 800;
  padding-left: 15px;
} 
.containerNav {
  background: #fffc;
  background: #000;
  backdrop-filter: blur(5px);
  bottom: -2px;
  border-top: 1px solid #eee;
  min-height: 45px;
  position: sticky;
  width: 100%;
  display: flex;
  padding-bottom: 2px;
  align-items: center;
}
@media (max-width: 768px) {
  .containerNav {
    position: fixed;
  }
}
.containerNav a{
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all ease .3s;
}
.containerNav a:hover{
  background: radial-gradient(#0099ff30 15%, transparent 16%);
  background-size: 180px 180px;
  background-position: center;
}
.containerNav svg{
  transition: all ease .3s;
}
.containerNav a:hover svg{
  stroke: var(--verde);
}
